/* Styles for the header and navigation */
header {
    background-color: #333;
    padding: 20px;
    text-align: end;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Styles for the hero section */
#hero {
    background-image: url(/IMAGE/FOURTH\ IMAGE.webp);
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: goldenrod;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

#hero a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Styles for the about section */
#about {
    background-color: goldenrod;
    padding: 50px;

}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Styles for the services section */
#services {
    padding: 50px;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#services ul {
    list-style-type: none;
    padding: 0;
}

#services ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Styles for the contact section */
#contact {
    background-color: #f1f1f1;
    padding: 50px;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-size: 18px;
    margin-bottom: 10px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

#contact input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for the footer */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}